<% @storage = ShoppingCart.last %>

<% unless @storage.nil? %>
  <p>ITEMS IN CART - <%= @storage.total_quantity %></p>
  <p>TOTAL PRICE - <%= @storage.total_price %></p>
<% end %>

<%= button_to "Place order", finalize_shopping_cart_path, method: :patch %>