<% if notice %>
  <div class="alert border-2 text-md p-2 text-orange-200 border-orange-200 font-extrabold rounded-xl shadow-2xl shadow-black" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert border-4 text-md p-2 text-red-600 border-red-600 font-extrabold rounded-xl shadow-2xl shadow-black" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
