<div class="main-wrapper">
    <div class="main-navbar">
        <div class="left-link-items">
            <div class="item-button">MENU</div>
            <div class="item-button">DELIVERY</div>
            <div class="item-button">GALLERY</div>
            <div class="item-button">CONTACT</div>
        </div>
        <div class="right-link-items">
            <div class="shopping-cart">
                <p>EMPTY</p>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="item-button">BOOK</div>
            <div class="item-button">LANGUAGE</div>
        </div>
    </div>
    <div class="header">
        <img src="assets/Haveli.png" alt="">
        <div class="video-container">
            <div class="video-container-overlay-dim"></div>
            <video autoplay muted loop class="background-video">
                <source src="assets/broll.mp4" type="video/mp4">
            </video>
        </div>
    </div>

</div>
<div class="menu-content">
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
</div>