<div class="page-wrapper">
    <div class="main-wrapper">
        <header id="home" class="section-header">
            <div class="page-padding">
                <div class="container-small">
                    <div class="header">
                        <div class="logo-container">

                        </div>
                    </div>
                </div>
            </div>
            <div class="background-video-wrapper">
                <div class="background-video-overlay-layer-dim"></div>
                <video autoplay muted loop class="background-video">
                    <source src="assets/broll.mp4" type="video/mp4">
                </video>
            </div>
        </header>
    </div>
</div>