<div class="main-wrapper">
    <div class="main-navbar">
        <a href="#">MENU</a>
        <a href="#">DELIVERY</a>
        <a href="#">PHOTO GALLERY</a>
        <a href="#">CONTACT</a>
        <div class="main-navbar-right">
          <a href="#">CART</a>
          <a href="#">BOOK</a>
          <a href="#">LANGUAGE</a>
        </div>
    </div>
    <div class="header">
        <img src="assets/Haveli.png" alt="">
        <div class="video-container">
            <div class="video-container-overlay-dim"></div>
            <video autoplay muted loop class="background-video">
                <source src="assets/broll.mp4" type="video/mp4">
            </video>
        </div>
    </div>

</div>
<div class="menu-content">
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
    <h1>item 1</h1>
</div>