<%# <div class="landing-navbar-container">
  <img src="assets/logohav.png" style="width: 220px" alt="">
</div> %>
<div style="position: relative;">
  <div id="leaves" style="position: absolute;">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="landing-container">
    <div class="left-divider d-flex flex-column justify-content-center align-items-center">
      <img src="assets/resizedhav.png" style="width: 250px" alt="">
      <p class="text-white my-3 h3">Delicious oriental food.</p>
    </div>
    <a href='/homepage?locale=ro'>
      <div class="discover-more"><p>DISCOVER MORE</p></div>
    </a>
    <div class="right-divider">
      <div class="blur-panel"></div>
    </div>
  </div>
</div>
<%# <a href="/homepage">Home</a> %>