<%# <div class="landing-navbar-container">
  <img src="assets/logohav.png" style="width: 220px" alt="">
</div> %>
<div class="landing-container">
  <div class="left-divider">
  <div class="logo-text-div">
    <div class="d-flex flex-column">
      <img src="assets/logohav.png" style="width: 220px" alt="">
      <div class="text-center">
        <p class="text-white my-3 h3">Delicious oriental food.</p>
      </div>
    </div>
  </div>
  </div>
  <div class="right-divider">
    <div class="blur-panel"></div>
  </div>
</div>
<a href="/homepage">Home</a>
