.discover-more {
    position: absolute;
    // transition: transform .2s;
    left: 24%;
    top: 69%;
    margin-left: -100px;
    background-color: #00000073;
    width: 235px;
    height: 81px;
    border: solid #8d4975;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    p {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
    }

}

.discover-more:hover {
    // transform: scale(1.02);
    color: #f395bc;
    border: solid #f395bc;
    background-color: #000000a1;

}

.item-button {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 45px;
    text-align: center; 
    vertical-align: middle;
    line-height: 45px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: solid #f395bc00;
    border-width: thin;
    transition: .5s;
}

.item-button:hover {
    background-color: #f395bc6e;
    color: black;
    border: solid #f395bc;
    border-width: thin;
}


.shopping-cart {
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    height: 45px;
    padding: 10px;
    border: solid #f395bc00;
    border-width: thin;

    p {
        margin-bottom: 0px;
    }

    i {
        width: 100%;
        padding-left: 10px;
        padding-top: 4px;
    }
}

.shopping-cart:hover {
    background-color: #f395bc6e;
    color: black;
    border: solid #f395bc;
    border-width: thin;

    i {
        color: black;
    }
}