.card {
    width: 250px;
    height: 370px;
    /* background-color: #7f1d1d; */
}

img {
    height: 180px;
    width: 100%;
}

.info-icon:hover {
  color: #fafaf9;
  cursor: pointer;
}

.blur-text {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-item {
  transition: ease-in 0.3s;
}

.add-item:hover {
  transform: translate(0, -3px);
  color: white;
}

.remove-item {
  transition: ease-in 0.3s;
}

.remove-item:hover {
  transform: translate(0, -3px);
  color: white;
}