body {
    color: #fed7aa;
    background-color: #0F0606;
    font-family: 'Roboto', sans-serif;
}

.moto {
    left: 0;
    right: 0;
    top: 58%;
    margin: 0 auto;
}

#navbar {
    button {
        margin-left: 7px;
    }
}

.mobile-button {
    margin-left: 7px;
}

.menu-bar {
    width: 55%;
}

#menu {
    padding-top: 11px
}

.language-selector {
    select {
        margin-bottom: 4px;
        padding-right: 30px;
        border: solid #fed7aa;
        border-width: 2px;
        border-radius: 12px;
        background-color: #0F0606;
        height: 44px;
        cursor: pointer;
    }
}

#dropdown-menu {
    position: sticky;
    top: 80px;
    background-color: #0F0606;
}

#categories {
    a {
        margin-left: 15px;
    }
}


.grid-div {

    display: grid;
    grid-template-columns: repeat(auto-fit, 289px);
    grid-gap: 32px 18px;
    margin: auto;
    max-width: 1078px;
    justify-items: center;
    justify-content: center;

    img {
        height: 182px;
        width: 277px;
    }

    a {
        transition: ease-in 0.2s;
    }
    a:hover {
        transform: scale(1.05);
    }
}

.filler-div {
    margin-top: 25px;
}

.delivery-content {
    background-color: #200B0B;
}