.landing-container {
  display: flex;
  height: 100vh;
}

.left-divider {
  position: relative;
  width: 50vw;
  background-color: #1A120B;

  .logo-text-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);

    p {
      // text-align: center;
    }
  }
}

.right-divider {
  position: relative;
  width: 50vw;
  background-image: url("unsplash.jpg");
  background-size: cover;
  background-position: center;

  .blur-panel {
    position: absolute;
    width: 150px;
    height: 100vh;
    background-color: #1a120b9c;
    backdrop-filter: blur(6px);
  }
}
