.contact-form {

    .label {
        padding: 5px;
    }

    

    .submit-button:hover {
        background-color: #fed7aa;
        color: black;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;

    }

    .contact_message {
        display: flex;
        flex-direction: column;
    }

}

.book-form {
    .submit-button:hover {
        background-color: #fed7aa;
        color: black;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;

    }
}

.contact-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.contact-format {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}