.gallery-content {
    background-color: #18100A;  
    color: white;
    font-weight: bold;  
    
    .images-display {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 13px 15px;
        margin: auto;
        max-width: 1650px;
        // max-width: 1086px;
        justify-items: center;
        justify-content: center;
    
        img {
            width: 250px;
            height: 150px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
        }
    }
}
