.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    img {
        text-align: center;
        padding: 20px;
        margin: 15px;
        z-index: 2;
    }
    
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
