.menu-content {
    width: 100%;
    background-color: #18100a;
}

.menu-container {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

    .menu-categories {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: bold;
            padding: 13px;
            color: white;
        }
    }
}


.dish-listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, 248px);
    grid-gap: 56px 40px;
    margin: auto;
    max-width: 1650px;
    justify-items: center;
    justify-content: center;
    .dish-card {
        width: 248px;
        height: 346px;
        border: 3px solid #8D4975;
        background-color: #0C0805;
        color: white;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
        img {
            width: 242px;
            height: 167px;
        }

        h2 {
            padding-top: 3px;
            font-size: 25px;
        }

        .dish-price-container {
            padding-top: 68px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
        }

    }
}