#navbar {
    background-color: #0F0606;
}

.serving-dish {
    width: 30px;
    height: 25px;
}

.divider {
    width: 29px;
    height: 41px;
}

.checkmark:hover {
    color: #18181b;
}

.shopping-cart-box {
    height: 44px;
    margin-top: 4px;

    .shop-box {
        width: 208px;
    }
}

.navlink {
    padding-bottom: 0px;
}

