@media screen and (min-width: 280px) {
    .logo {
        width: 200px;
        height: 190px;
        left: 0;
        right: 0;
        top: 27%;
        margin: auto; 
    }

    .moto {
        left: 0;
        right: 0;
        top: 58%;
        margin: 0 auto;
    }

    #categories {
        
        a {
            padding: 5px;
            font-size: 20px;
            // margin-right: 15px;
            transition: ease-in 0.2s;
            border: solid #fed7aa00;
            border-radius: 10px;
            
        }
        
        a:hover {
            border: solid #fed7aa;
            border-radius: 10px;
            background-color: #fed7aa;
            color: #18181b;
        }
    }

    .contact-form {
        
        #new_contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 370px;
            height: 45px;
        }
    
        textarea {
            width: 370px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 370px;
            margin-bottom: 17px;
            padding-bottom: 37px;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 18px;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

    .book-form {
        
        #new_contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }


        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 370px;
            height: 45px;
        }
    
        textarea {
            width: 370px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 370px;
            margin-bottom: 17px;
            padding-bottom: 37px;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }
}


@media screen and (min-width: 360px) {
    .logo {
        width: 190px;
        height: 190px;
        left: 0;
        right: 0;
        top: 27%;
        margin: auto; 
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }
}


@media screen and (min-width: 375px) {
    .logo {
        width: 350px;
        height: 330px;
        left: 0;
        right: 0;
        top: 17%;
        margin: auto; 
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }

    
}

@media screen and (min-width: 390px) {
    .logo {
        width: 370px;
        height: 355px;
        left: 0;
        right: 0;
        top: 20%;
        margin: auto; 
    }

    .moto {
        left: 0;
        right: 0;
        top: 53%;
        margin: 0 auto;
        font-size: 20px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 430px) {
    .logo {
        width: 200px;
        height: 190px;
        left: 0;
        right: 0;
        top: 31%;
        margin: auto; 
    }

    .moto {
        left: 0;
        right: 0;
        top: 53%;
        margin: 0 auto;
        font-size: 20px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 540px) {
    .logo {
        width: 280px;
        height: 270px;
        left: 0;
        right: 0;
        top: 25%;
        margin: auto; 
    }

    .moto {
        left: 0;
        right: 0;
        top: 55%;
        margin: 0 auto;
        font-size: 25px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }

    .contact-form {
        
        #new_contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 370px;
            height: 45px;
        }
    
        textarea {
            width: 370px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 370px;
            margin-bottom: 17px;
            padding-bottom: 37px;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 18px;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

    .book-form {
        
        #new_contact {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 370px;
            height: 45px;
        }
    
        textarea {
            width: 370px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 370px;
            margin-bottom: 17px;
            padding-bottom: 37px;
            padding-top: 10px;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 18px;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

}

@media screen and (max-width: 600px) {

    #navbar {
        
        .shop-cart-div {
            display: flex;
            flex-direction: row-reverse;
        }
        
    }

}

@media screen and (min-width: 600px) {

    #navbar {
        
        .shop-cart-div {
            display: flex;
            // flex-direction: row-reverse;
        }
        
    }

}

@media screen and (min-width: 640px) {
    .logo {
        width: 260px;
        height: 250px;
        left: 0;
        right: 0;
        top: 27%;
        margin: auto; 
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 524px;
        justify-items: center;
        justify-content: center;
    }

}


@media screen and (min-width: 768px) {
    .logo {
        width: 410px;
        height: 400px;
        left: 0;
        right: 0;
        top: 25%;
        margin: auto; 
    }

    .moto {
        left: 0;
        right: 0;
        top: 67%;
        margin: 0 auto;
        font-size: 35px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 801px;
        justify-items: center;
        justify-content: center;
    }

    .contact-form {
        
        #new_contact {
            padding-left: 20px;
            padding-right: 20px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 190px;
            height: 40px;
        }
    
        textarea {
            width: 402px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 90px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

    .book-form {
        
        #new_contact {
            padding-left: 20px;
            padding-right: 20px;
        }

        #reservation_party_size {
            width: 402px;
        }

        #reservation_date_time {
            width: 402px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 190px;
            height: 40px;
        }
    
        textarea {
            width: 402px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 90px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 402px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

}

@media screen and (min-width: 820px) {
    .logo {
        width: 410px;
        height: 400px;
        left: 0;
        right: 0;
        top: 25%;
        margin: auto;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 801px;
        justify-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 1024px) {
    .logo {
        width: 410px;
        height: 400px;
        left: 0;
        right: 0;
        top: 25%;
        margin: auto; 
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 1078px;
        justify-items: center;
        justify-content: center;
    }

    #categories {
        padding-top: 10px;
        padding-bottom: 10px;
        a {
            font-size: 13px;
        }
    }

    .menu-bar {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        
        #new_contact {
            padding: 20px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 190px;
            height: 40px;
        }
    
        textarea {
            width: 402px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 90px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

    .book-form {
        
        #new_contact {
            padding: 20px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 190px;
            height: 40px;
        }
    
        textarea {
            width: 402px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 90px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 402px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1024px) {
    #navbar {
        display: flex;
        justify-content: space-between;   
    }

    #categories {
        a {
            font-size: 13px;
        }
    }

    

}

@media screen and (min-width: 1280px) {

    .logo {
        width: 500px;
        height: 480px;
        left:0;
        right:0;
        top: 20%;
        margin:auto;
    }

    .moto {
        left: 0;
        right: 0;
        top: 57%;
        margin: 0 auto;
        font-size: 30px;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        grid-gap: 29px 29px;
        margin: auto;
        max-width: 1355px;
        justify-items: center;
        justify-content: center;
    }

    #categories {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 80px;
        padding-right: 80px;
        
        a {
            padding: 5px;
            font-size: 15px;
            transition: ease-in 0.2s;
            border: solid #fed7aa00;
            border-radius: 10px;
            
        }
        
        a:hover {
            border: solid #fed7aa;
            border-radius: 10px;
            background-color: #fed7aa;
            color: #18181b;
        }
    }

    .contact-form {
        padding-left: 130px;
        padding-right: 130px;

        .simple_form {
            padding-right: 200px;
            padding-left: 100px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 208px;
            height: 44px;
        }
    
        textarea {
            width: 442px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }

    }

    .book-form {
        padding-left: 130px;
        padding-right: 130px;

        #reservation_party_size {
            width: 438px;
        }

        #reservation_date_time {
            width: 438px;
        }

        .simple_form {
            padding-right: 100px;
            padding-left: 100px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 208px;
            height: 44px;
        }
    
        textarea {
            width: 442px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }

    }

    
}

// @media screen and (max-width: 1280px) {

//     .contact-form {
//         padding-right: 0px;
//         padding-left: 0px;
    
//         #new_contact {
//             padding-right: 107px;
//             padding-left: 100px;
//         }
//     }
// }


@media screen and (min-width: 1541px) {

    #categories {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 80px;
        padding-right: 80px;
        
        a {
            padding: 5px;
            font-size: 17px;
            transition: ease-in 0.2s;
            border: solid #fed7aa00;
            border-radius: 10px;
            
        }
        
        a:hover {
            border: solid #fed7aa;
            border-radius: 10px;
            background-color: #fed7aa;
            color: #18181b;
        }
    }


    .contact-form {
        #new_contact {
            padding: 20px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 208px;
            height: 44px;
        }
    
        textarea {
            width: 442px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

    .book-form {
        #new_contact {
            padding: 20px;
        }

        input {
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            width: 208px;
            height: 44px;
        }
    
        textarea {
            width: 442px;
            border-radius: 20px;
            background-color: #0f060600;
            border-color: #fed7aa;
            border-width: 2px;
            height: 100px;
        }
    
        .submit-button {
            font-size: 20px;
            display: flex;
            justify-content: center;
            width: 442px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: #0f060600;
            border-color: #fed7aa00;
            border-width: 2px;
            padding: 10px 10px 35px 10px;
            transition: ease-in 0.2s;
            font-weight: bold;
        }
    }

}